.jumbotron {
    /* background-color: #FFFACD !important; */
    background-image: linear-gradient(to left, #87a1ec, #8d91db, #bdb5e7, #ad87e9, #c585f0) !important;
    text-align: center;
    color: #fff;
    border-radius: 0 !important;
    margin-bottom: 2px !important;
}
.jumbotron h3 {
    color: #fff;
    text-align: center;
}
.jumbotron p {
    color: red;
    text-align: center;
    font-weight: bold;
}

/* Sign In Page */
.solid-btn{
    color: #fff !important;
    -webkit-box-shadow: 0 20px 30px 0 rgba(67,37,204,.2) !important;
    box-shadow: 0 20px 30px 0 rgba(67,37,204,.2) !important;
    background: #7202bb !important;
    border: 2px solid #7202bb !important;
    border-radius: 30px;
    padding: 10px 25px !important;
}
.solid-btn:hover{
    background: transparent !important;
    color: #7202bb !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*Sign Up Page */
.signup-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.signup-form-group {
    width: 40%;
}
.signup-form-group-address {
    width: 90%;
}
.signup-form-radio {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.signupbtn {
    margin: 20px auto auto;
    width: 90%;
}

/* Footer Page */
.email-form-control {
    height: calc(2.56em + .75rem + 2px);
}

/* Cart Page */
.cart-div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 650px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.cart-item-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.item-img {
    width: 40%;
}
.cart-item-div img {
    width: 200px;
    height: 200px;
    float: left;
}
.cart-item-info {
    flex-direction: row;
    padding: 5px 15px;
    margin: 0 auto auto 5px;
}
.item-info {
    padding: 5px 0;
}
.cart-detail-div {
    position: relative;
    display: block;
    flex-direction: column;
    width: 350px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: space-evenly;
}
.cart-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}
.input-quantity {
    text-align: center;
    margin: auto 5px;
    padding: 5px;
}
.qty-btn {
    margin-top: -3px;
}

/* Checkout Page */
.checkout-detail-div {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}
.checkout-div {
    width: 70%;
}
h5 {
    padding: 10px;
}
th, td {
    text-align: center !important;
}
.checkout-td-item {
    display: flex;
    flex-direction: row;
}
.checkout-item-div {
    display: flex;
    flex-direction: row;
    width: 25%;
}
.checkout-item-div img {
    width: 100px;
    height: 100px;
    float: left;
}
.checkout-item-info {
    flex-direction: row;
    padding: 5px 15px;
    margin: 0 auto auto 5px;
}
.checkout-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 0;
}
.checkout-total {
    font-size: 17px;
}

/* Payment Page */
.billing-div {
    position: relative;
    display: block;
    flex-direction: column;
    width: 650px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: space-evenly;
    margin-right: 25px;
}
.payment-div {
    position: relative;
    display: block;
    flex-direction: column;
    width: 400px;
    padding: 15px 35px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: center;
    margin-left: 25px;
}
.payment-form-group {
    width: 100%;
}
.paybtn {
    width: 100%;
    margin-top: 20px;
}

/* Status Page */
.status-container {
    margin: 60px auto;
}
.status {
    display: block;
    text-align: center;
    justify-content: center;
}
.status img {
    margin: 5px auto;
}
.status p {
    font-size: 16px;
    margin: 5px auto;
}
.status-btn {
    width: 18%;
    color: #fff !important;
    background-color: #000 !important;
    margin-top: 20px;
}

/* Product Image Gallery */
.Image {
    font-family: sans-serif;
    text-align: center;
}
.image-gallery-left-nav {
    display: none;
}
.image-gallery-right-nav {
    display: none;
}
.image-gallery-play-button {
    display: none;
}
.app-gallery {
    width: 90% !important;
}

/* Profile Tab */
.tab-list-div {
    width: 16%;
}
.tab-content-div {
    width: 100%;
}
.profile-header {
    margin: auto 150px;
}
.profile-view {
    margin: auto;
    display: flex;
}
.profile-table {
    flex-direction: column;
    width: 70%;
    padding: 0 50px;
}
.profile-btn {
    flex-direction: column;
    width: 25%;
    justify-content: center;
}
.profile-btn-div {
    text-align: center;
    flex-direction: column;
    margin: 40px 0;
}
.profile-button {
    flex-direction: row;
    margin: 30px auto;
    width: 150px;
    padding: 5px 10px;
    border: 1px black solid;
}
.profile-table-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0; 
}
.profile-table-row label {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.profile-table-row input {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.tab-order-history {
    width: 80%;
}
.tab-order-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px 80px;
}
.tab-order-div {
    width: 85%;
}

/* Logout Page */
.logout-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.logout-div {
    width: 60%;
    margin: auto;
}
.logout-div h6 {
    font-size: 17px;
}
.logout-icon {
    font-size: 23px;
}

/* Order Management Page */

.order-mgt-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}
.order-mgt-div {
    width: 70%;
}
.order-mgt-div a:hover {
    text-decoration: none;
}
.order-detail-div {
    padding: 5px 10px;
    text-align: left;
}
.order-detail-div span {
    float: right;
    padding-right: 50px;
}
.order-detail-div td {
    text-align: left !important;
}
.shipping-info-table {
    width: 80%;
    margin-bottom: 25px;
}

/* Product Management Page */
.mgt-container {
    margin: 20px 40px;
}
.mgt-div {
    display: block;
    padding: 50px 70px;
    width: 65%;
    margin: auto auto 50px auto;
    background-image: linear-gradient(to left, #b5c3ec, #a0a5eb, #9385db, #a282d4, #c3a4d8) !important;
}
.add-mgt-div {
    padding: 35px 50px 20px 50px;
}
.mgt-list-div {
    padding: 50px 35px;
    border: 1px solid #000;
}
.mgt-list-view {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
}
.list-div {
    position: relative;
    display: block;
    border: 1px solid rgba(0,0,0,.125);
    width: 70%;
    
}
.mgt-img {
    width: 180px;
    height: 180px;
}
.list-div p {
    margin: 10px !important;
    text-align: left;
}
.mgt-detail-info {
    padding: 5px 50px;
}
.product-mgt-detail-img {
    margin-right: auto;
    margin-left: auto;
}
.product-mgt-detail-img img {
    width: 300px;
    height: 300px;
    margin: 10px auto 20px auto;
    align-items: center;
}
.product-mgt-detail-info {
    padding: 5px 70px;
}
.event-mgt-img {
    width: 300px;
    height: 200px;
    margin: 10px auto 20px auto;
}
.event-mgt-detail-info {
    padding: 5px 90px;
}
.event-mgt-detail {
    display: flex;
    flex-direction: column;
}
.event-mgt-detail-img {
    margin-right: auto;
    margin-left: auto;
}
.event-mgt-detail-img img {
    width: 600px;
    height: 300px;
    margin: 10px auto 20px auto;
    align-items: center;
}
.mgt-detail-btn {
    width: 80%;
    margin: 15px auto;
}
.event-mgt-btn {
    margin: 15px 0;
    width: 30%;
}

/* Image Upload Management */
.image-mgt-container {
    width: 65%;
    margin: 25px auto;
}
.content {
    margin: 20px 0;
}  
.preview {
    max-width: 200px;
}
.list-group li a {
    color: #000;
    text-decoration: none;
}
.list-group li p {
    margin-left: 15px;
}
.list-group li:hover {
    text-decoration: none;
    background-color: rgb(190, 180, 226);
}

/* Virtual Fitting Room */
.slide-container {
    width: 75%;
    margin: auto;
}
.carousel-indicators li {
    background-color: #000 !important;
}
.carousel-indicators li {
    color:#000 !important;
}
.carousel-caption {
    color:rgb(233, 230, 49) !important;
    font-weight: bold !important;
    top: 300px;
}
.carousel-caption h1{
    color:rgb(233, 230, 49) !important;
}

/* Single Product Page */
.single-view {
    width: 80%;
    margin: 40px auto;
}
.single-view img {
    width: 250px;
    height: 250px;
    margin: auto;
}
.single-div {
    width: 61%;
    margin: auto;
}
.form-group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.qty-input {
    width: 15%;
}
.event-single-view {
    width: 80%;
    margin: 40px auto;
}
.event-single-view img {
    width: 500px;
    height: 280px;
    margin: auto;
}
.date-input {
    width: 37%;
}
.message-div {
    padding: 1px 20px;
    margin-top: 10px;
    background-color: rgb(207, 133, 207);
}
.order-table-div {
    width: 100%;
    margin: 20px auto;
}
.order-table-div table {
    width: 100%;
}
.order-table-div td {
    text-align: left !important;
}
.order-table-div h6 {
    font-weight: bold;
    text-decoration: underline;
}

/* Footer */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}  
li {
    float: left;
} 
li a, .dropbtn {
    color: white;
    text-align: center;
    text-decoration: none;
}  
li button {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
} 
li button:hover{
    background-color: rgb(99, 97, 97);
}
li a:hover, .dropdown:hover .dropbtn {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}  
li.dropdown {
    display: inline-block;
}

/* Search Page */
.search-div {
    padding: 50px 35px;
}

/* The modal's background */
@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal:target {
    display: table;
    position: absolute;
}
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}  
.modal-dialog .modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 20px;
    outline: 0;
    border: 1px #777 solid;
    text-align: justify;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    /* Add animation */
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
}
.closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin-top: -15px;
}  
.closebtn:hover,
.closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-container {
    padding: 2px 16px;
}
.modal-table-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 15px auto 20px;
}
.modal-table-div p {
    font-size: 19px;
    margin: 0 0 10px 35px;
    text-decoration: underline;
}
.modal-shipping-table {
    width: 80%;
    margin: auto auto 25px auto;
}
.modal-order-item-table {
    width: 80%;
    margin: auto;
}
.modal-order-item-table th, td {
    border: 1px solid #000;
    padding: 8px;
}