.jumbotron {
    background-image: linear-gradient(to left, #3264f5, #4a54e8, #5b42db, #682ccb, #7202bb) !important;
    text-align: center;
    color: #fff;
    border-radius: 0 !important;
}
.jumbotron h3 {
    color: #fff;
    text-align: center;
}

/* Sign In Page */
.solid-btn{
    color: #fff !important;
    -webkit-box-shadow: 0 20px 30px 0 rgba(67,37,204,.2) !important;
    box-shadow: 0 20px 30px 0 rgba(67,37,204,.2) !important;
    background: #7202bb !important;
    border: 2px solid #7202bb !important;
    border-radius: 30px;
    padding: 10px 25px !important;
}
.solid-btn:hover{
    background: transparent !important;
    color: #7202bb !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*Sign Up Page */
.signup-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.signup-form-group {
    width: 40%;
}
.signup-form-group-address {
    width: 90%;
}
.signup-form-radio {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.signupbtn {
    margin: 20px auto auto;
    width: 90%;
}

/* Footer Page */
.email-form-control {
    height: calc(2.56em + .75rem + 2px);
}

/* Cart Page */
.cart-div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 650px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    /* justify-content: space-evenly; */
}
.cart-item-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.item-img {
    width: 40%;
}
.cart-item-div img {
    width: 200px;
    height: 200px;
    float: left;
}
.cart-item-info {
    flex-direction: row;
    padding: 5px 15px;
    margin: 0 auto auto 5px;
}
.item-info {
    padding: 5px 0;
}
.cart-detail-div {
    position: relative;
    display: block;
    flex-direction: column;
    width: 350px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: space-evenly;
}
.cart-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}
.input-quantity {
    text-align: center;
    margin: auto 5px;
    padding: 5px;
}
.qty-btn {
    margin-top: -3px;
}

/* Checkout Page */
.checkout-div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 950px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    /* justify-content: space-evenly; */
}
.checkout-item-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.item-img {
    width: 40%;
}
.checkout-item-div img {
    width: 100px;
    height: 100px;
    float: left;
}
.checkout-item-info {
    flex-direction: row;
    padding: 5px 15px;
    margin: 0 auto auto 5px;
}
.checkout-detail-div {
    position: relative;
    display: block;
    flex-direction: row;
    width: 950px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: space-evenly;
}
.checkout-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 0;
}

/* Payment Page */
.billing-div {
    position: relative;
    display: block;
    flex-direction: column;
    width: 650px;
    padding: 15px 25px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: space-evenly;
    margin-right: 25px;
}
.payment-div {
    position: relative;
    display: block;
    flex-direction: column;
    width: 400px;
    padding: 15px 35px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    justify-content: center;
    margin-left: 25px;
}
.payment-form-group {
    width: 100%;
}
.paybtn {
    width: 100%;
    margin-top: 20px;
}

/* Product Image Gallery */
.Image {
    font-family: sans-serif;
    text-align: center;
}
.image-gallery-left-nav {
    display: none;
}
.image-gallery-right-nav {
    display: none;
}
.image-gallery-play-button {
    display: none;
}
.app-gallery {
    width: 55% !important;
}

/* Profile Tab */
.tab-list-div {
    width: 16%;
}
.tab-content-div {
    width: 100%;
}
.profile-header {
    margin: auto 150px;
}
.profile-view {
    margin: auto;
    display: flex;
}
.profile-table {
    flex-direction: column;
    width: 70%;
    padding: 0 50px;
}
.profile-btn {
    flex-direction: column;
    width: 25%;
    justify-content: center;
}
.profile-btn-div {
    text-align: center;
    flex-direction: column;
    margin: 40px 0;
}
.profile-button {
    flex-direction: row;
    margin: 30px auto;
    width: 150px;
    padding: 5px 10px;
    border: 1px black solid;
}
.profile-table-row {
    display: flex;
    flex-direction: row;
    margin: 5px 0; 
}
.profile-table-row label {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.profile-table-row input {
    display: flex;
    flex-direction: column;
    width: 60%;
}