.fortry-logo {
    width: 165px;
    height: 60px;
}
.hero-equal-height {
    background-repeat: repeat-x;
    min-height: 450px !important;
    background-position: right;
    background-position-y: top;
}
.mainView {
    margin: 10px 5px 80px 5px;
}
.mainHeader {
    margin: 0 30px;
}
.mainContainer {
    margin: 20px 10px 60px 10px;
}

.categoryDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.category > img {
    max-width: 250px;
    height: 280px;
    text-align: center;
    padding: 2px;
    margin: 0 auto;
}
.category p {
    text-decoration: none;
    color: #000;
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
}
  
.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

/* .nav {
    padding-left: 3px;
    padding-right: 3px;
} */
.nav-home-btn {
    margin-top: 7px;
    margin-right: -5px;
    margin-left: 5px;
    padding-right: 0 !important;
}
.nav-home {
    margin-top: 2px;
}
.fa {
    font-size: 30px;
}

.rounded-circle {
    border: 1px solid white;
    padding: 5px;
    font-size: 18px;
}

/* Menu Navigation Bar */
.home-nav {
    margin-left: auto;
}
.navbar .navbar-nav {
    padding: 0 0.25em;
    height: 34px;
    color: #fff;
}
.nav-link {
    color: #fff ;
}
.navbar .navbar-nav:not(:last-child) {
    border-right: 2px solid #fff;
}
.navbar-collapse .nav-link {
    line-height: 17px;
}
.nav-username {
    color: #fff;
    margin-top: 5px !important;
    margin-right: 20px;
}

