.fortry-logo {
    width: 165px;
    height: 60px;
}

.mainView {
    margin: 10px 5px 80px 5px;
}
.mainHeader {
    margin: 0 30px;
}
.mainContainer {
    margin: 20px 10px 60px 10px;
}

.categoryDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.category > img {
    max-width: 250px;
    height: 280px;
    text-align: center;
    padding: 2px;
    margin: 0 auto;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
}
  
.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.nav {
    padding-left: 3px;
    padding-right: 3px;
}
.nav-home-btn {
    margin-top: 7px;
    margin-right: -5px;
    margin-left: 5px;
    padding-right: 0 !important;
}
.nav-home {
    margin-top: 2px;
}
.fa {
    font-size: 30px;
}

.rounded-circle {
    border: 1px solid white;
    padding: 5px;
    font-size: 18px;
    /* height: auto; */
    /* margin-top: 5px; */
}


/* Login Page */
/* .modal-dialog {
    margin: 50px auto 70px auto;
}
.modal-header {
    display: flex;
    justify-content: space-between;
}
.modal-footer {
    display: flex;
    justify-content: flex-start;
}
.forgotPassword {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}
.button {
    margin: 30px auto 0px auto;
    width: 100%;
}

.submit-form {
    margin: 40px 200px 80px 200px;
}
.form-group {
    padding-right: 25px !important;
    padding-left: 25px !important;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.form-check-inline {
    margin-right: auto;
}
.form-text {
    margin-left: 15px;
    margin-bottom: 40px;
} */

/* Menu Navigation Bar */
.home-nav {
    margin-left: auto;
}
.navbar .navbar-nav {
    padding: 0 0.25em;
    height: 34px;
    color: #fff;
}
.nav-link {
    color: #fff !important;
}
.navbar .navbar-nav:not(:last-child) {
    border-right: 2px solid #fff;
}
.navbar-collapse .nav-link {
    line-height: 17px;
}
.nav-username {
    color: #fff;
    margin-top: 5px !important;
    margin-right: 20px;
}